### Day Objectives

* Markdown syntax
* Shortcuts
* Styling text
* Insert a link
* Insert an image
* Unordered List
* Ordered List

### Shortcuts
 
* esc + m -> to convert coding cell into markdown cell
* esc + y  -> to convert into code cell
* esc + a  -> to create new cell above
* esc + b   -> to create new cell below
* esc + h   -> shortcuts

* Shift + Enter -> to run a cell

# This is largest heading
## This is second largest heading
### This is third largest
#### This is fourth largest
##### This is fifth largest
###### This is smallest heading

### Styling Text

* Bold  -> **I am learning Python** 
* Italic -> *This is italic*
* Bold and italic -> ***Welcome to APSSDC***
* Strike through ->  ~~This is a line~~

### Insert a link

* [Google.com](https://www.google.com)
* <https://www.gmail.com>  to go to gmail

### Hyper link to a link

<a href="http://engineering.apssdc.in/register/">Student Register</a>

### How to create link to an image


### syntax: [image title](image name.extension)
[python logo](python.jpg)

### Adding images to markdown

<img src="python.jpg" style="height:100px;width:100px;">

In [3]:
### How to check python version

import sys
sys.version

'3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]'

In [1]:
### Comments in python

# Single line comment
"""
Multi LINE
cOMMENTS
"""

'\nMulti LINE\ncOMMENTS\n'

### Data types 

* int,float,string,bool
* List, tuples, Dictionary, sets - iterable

In [2]:
a=10
print(type(a))   # to know the data type

<class 'int'>

In [3]:
b=678.90
print(type(b))

<class 'float'>

In [4]:
name="himasree"
print(type(name))

<class 'str'>

In [5]:
d=True
print(type(d))

<class 'bool'>

In [6]:
### Variable  -> It holds any type of data

val=100
st="string"

# size of memory depends upon the variable in code

In [7]:
s='name'
print(type(s))

<class 'str'>

In [8]:
ss="name1"
print(type(s))

<class 'str'>

In [9]:
sss="""name"""
print(type(s))

<class 'str'>

### Type casting

* Convert one datatype to other

In [15]:
## String into integer

a="100"
print(type(a))
b=int(a)   # converting into interger
print(type(b))
b+900

<class 'str'>
<class 'int'>

1000

In [18]:
a="s"
print(type(a))
b=int(a)
print(type(a))

<class 'str'>

ValueError: invalid literal for int() with base 10: 's'

In [21]:
### float into integer

a=908.87
print(type(a))
b=int(a)
print(type(b))
b

<class 'float'>
<class 'int'>

908

In [23]:
### int to float

a=100
print(type(a))
b=float(a)
print(type(b),b)

<class 'int'>
<class 'float'> 100.0

In [24]:
"hello"+"world"   # concat -> combine

'helloworld'

In [25]:
"908"+"768"

'908768'

In [26]:
"hello"+"890"

'hello890'

In [27]:
"hello"+890

TypeError: can only concatenate str (not "int") to str